

.mainNav {
    border: 3px solid #d3d3d3; 
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
}

.navbar1 {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.navbar1 li {
    flex: 1;
    text-align: center;
    margin: 0;
}

.navbar1 li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.navbar1 li a:hover {
    background-color: #b8962c;
    cursor: pointer;
}