body {
    text-align: center;
    font-family: Georgia, serif;
    background-color: #d7ae32;
    background-image: url('18410.jpg'); 
    background-blend-mode: multiply; 
    background-repeat: repeat; 
}


header {
    display: inline-block;
    border-width: thin;
    border-style: solid;
    border-color: #d3d3d3; 
    border-radius: 8px;
    background-color: lightgray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}


footer {
    background-color: #f0f0f0; 
    color: #707070; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0; 
    width: auto; 
    font-family: Georgia, serif;
    border: 3px solid #d3d3d3;
    border-radius: 8px; 
    box-sizing: border-box; 
}

footer p {
    font-size: 14px; 
    color: gray;
    font-family: Georgia, serif
}

body img {
    padding: 5px;
    border-radius: 25px 25px 25px 25px;
    
    background: url('images/logo.png'), #000000
    
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 200px;
    border-width: thin;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    background-color: #d7ae32;
    width: 300px;
    height: auto;
    display: inline-block;
    font-family: Georgia, serif
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 200px;
    border-width: thin;
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    background-color: lightgray;
    width: 300px;
    height: auto;
    display: inline-block;
    font-family: Georgia, serif
}

.redLetters {
    font-size: 20px; 
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 200px;
    border-width: thin;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    background-color: #d7ae32;
    width: 300px;
    height: auto;
    display: inline-block;
    font-family: Georgia, serif
}

#container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.login-container {
    background-color: #f0f0f0;
    border: 3px solid #d3d3d3; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}

.login-container button {
    background-color: #d7ae32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #b8962c;
}

.mission-statement {
    display: flex;
    top: 50%;
    left: 50%;
    white-space: normal; 
    max-width: 400px;    
    padding: 20px;       
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    font-size: 20px;
    margin-top: 75px;
    
}
.image-container {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.left-image {
    width: 40vw;
    height: 40vw;
    padding: 0;
    margin-left: 5vw;
}

.content-container1 {
    background-color: #f0f0f0;
    border: 3px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
    max-width: 500px; 
}

.results-container {
    background-color: white;
    border: 3px solid #d3d3d3;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px; 
}

.results-container h3, 
.results-container button, 
.results-container #matchDisplay {
    margin-bottom: 10px; 
}


#findMatchButton {
    background-color: #d7ae32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#findMatchButton:hover {
    background-color: #b8962c;
}

.class-list-container {
    background-color: #f0f0f0;
    border: 3px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
    display: inline-block;
    max-width: 500px; 
}

.class-list-container input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    background-color: white;
}

.class-list-container button {
    background-color: #d7ae32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.class-list-container button:hover {
    background-color: #b8962c;
}

@media (max-width: 768px) {
    .class-list-container input[type="text"], 
    .class-list-container button {
        width: 90%;
    }
}

.page3maindiv, .mainmaindiv, .loginmaindiv {
    background-color: #f0f0f0;
    border: 3px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 50px auto; 
    display: block; 
    width: 80%; 
    max-width: 800px; 
}


.topnav {
    margin-bottom: 20px;
}

.topnav input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    font-size: 16px; 
}


main button {
    background-color: #d7ae32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px; 
    font-size: 16px; 
}

main button:hover {
    background-color: #b8962c;
}

.logout-container {
    text-align: right; 
    padding: 10px 20px; 
    margin-top: 10px; 
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
}

.logout-container button {
    font-size: 18px; 
    padding: 15px 30px; 
    border-radius: 8px; 
    border: 2px solid #d3d3d3; 
    background-color: #fff; 
    color: #000; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    margin-right: 50px; 
    margin-top: 0; 
    position: absolute;
    right: 0; 
    top: 10px; 
}

@media (max-width: 768px) {
    main {
        width: 95%;
        margin: 20px auto;
    }

    .topnav input[type="text"] {
        margin-bottom: 10px;
    }
}

.indexmaindiv {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 20px; 
    gap: 20px; 
}

.image-container {
    flex: 1; 
    max-width: 40vw; 
    order: 1; 
}


.left-image {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}


.mission-statement {
    flex: 2;
    order: 2; 
    background-color: #f0f0f0;
    border: 3px solid #d3d3d3;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    max-width: 500px; 
}



@media (max-width: 768px) {
    .indexmaindiv {
        flex-direction: column; 
    }

    .image-container,
    .mission-statement {
        width: 100%; 
        max-width: none;
        order: unset; 
    }
}
